<div style="float: left; padding: 5px;">
    <img [src]="myBook.url" class="image"><br>
    <button *ngIf="user!=null && !user.blocked" (click)="seeBook()">Vidi knjigu</button><br>
    <button *ngIf="user!=null && user.type==2" (click)="deleteBook()">Izbrisi knjigu</button>
    {{message}}
</div>
<div>
    <table>
        <tr>
            <td>Naslov:</td>
            <td><b>{{myBook.book.title}}</b></td>
        </tr>
        <tr>
            <td>Autori:</td>
            <td>{{myBook.book.authors}}</td>
        </tr>
        <tr>
            <td>Zanr:</td>
            <td>{{myBook.book.genre}}</td>
        </tr>
        <tr>
            <td>Izadavac:</td>
            <td>{{myBook.book.publisher}}</td>
        </tr>
        <tr>
            <td>Godina izdanja:</td>
            <td>{{myBook.book.publishYear}}</td>
        </tr>
        <tr>
            <td>Jezik:</td>
            <td>{{myBook.book.language}}</td>
        </tr>
    </table>
    <br>
</div>

<hr/>