<table>
    <tr>
        <td>Korisnicko ime: </td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Ime: </td>
        <td>{{user.firstname}}</td>
    </tr>
    <tr>
        <td>Prezime: </td>
        <td>{{user.lastname}}</td>
    </tr>
    <tr>
        <td>Adresa: </td>
        <td>{{user.address}}</td>
    </tr>
    <tr>
        <td>Tel: </td>
        <td>{{user.tel}}</td>
    </tr>
    <tr>
        <td>e-mail: </td>
        <td>{{user.email}}</td>
    </tr>
</table>
<button (click)="updateProfile()">Azuriraj podatke</button><br>
<button (click)="changePassword()">Promeni lozinku</button><br>

<app-read-by-genre-chart></app-read-by-genre-chart>
<app-read-last-year-chart></app-read-last-year-chart>