<a routerLink="/mainMenu">&#8592;Glavni meni</a> <br>
<h2>Dodaj knjigu u sistem</h2>
<table>
    <tr>
        <td>Naslov:</td>
        <td>
            <input type="text" name="title" [(ngModel)]="title">
            <span style="color:red;"> {{errorTitle}}</span>
        </td>
    </tr>
    <tr>
        <td>Autori:</td>
        <td>
            <input type="text" name="authors" [(ngModel)]="authors">
            <span style="color:red;"> {{errorAuthors}}</span>
        </td>
    </tr>
    <tr>
        <td>Zanr:</td>
        <td>
            <select name="genre" multiple [(ngModel)]="genre">
                <option value="roman">Roman</option>
                <option value="knjizevnost apsurda">Knjizevnost apsurda</option>
                <option value="pustolovni roman">Pustolovni roman</option>
                <option value="obrazovni roman">Obrazovni roman</option>
                <option value="realizam">Realizam</option>
                <option value="ljubavni roman">Ljubavni roman</option>
                <option value="satira">Satira</option>
                <option value="fantastika">Fantastika</option>
                <option value="politicki roman">Politicki roman</option>
                <option value="fikcija">Fikcija</option>
                <option value="knjizevnost za decu">Knjizevnost za decu</option>
                <option value="basna">Basna</option>
                <option value="novela">Novela</option>
                <option value="istorijska fikcija">Istorijska fikcija</option>
                <option value="filozofski roman">Filozofski roman</option>
            </select>
            <span style="color:red;"> {{errorGenre}}</span>
        </td>
    </tr>
    <tr>
        <td>Izdavac:</td>
        <td>
            <input type="text" name="publisher" [(ngModel)]="publisher">
            <span style="color:red;"> {{errorPublisher}}</span>
        </td>
    </tr>
    <tr>
        <td>Godina izdavanja:</td>
        <td>
            <input type="text" name="publishYear" [(ngModel)]="publishYear">
            <span style="color:red;"> {{errorPublishYear}}</span>
        </td>
    </tr>
    <tr>
        <td>Jezik:</td>
        <td>
            <input type="text" name="language" [(ngModel)]="language">
            <span style="color:red;"> {{errorLanguage}}</span>
        </td>
    </tr>
    <tr>
        <td>Broj knjiga:</td>
        <td>
            <input type="text" name="available" [(ngModel)]="available">
            <span style="color:red;"> {{errorAvailable}}</span>
        </td>
    </tr>
    <tr>
        <td>Slika(opciono):</td>
        <td>
            <input type="file" (change)="uploadImage($event)">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="addBook()">Dodaj knjigu</button>
        </td>
    </tr>
</table>
{{message}}