<table>
    <tr>
        <td>Stara lozinka</td>
        <td>
            <input type="password" name="oldPassword" [(ngModel)]="oldPassword">
        </td>
    </tr>
    <tr>
        <td>Nova lozinka</td>
        <td>
            <input type="password" name="newPassword1" [(ngModel)]="newPassword1">
        </td>
    </tr>
    <tr>
        <td>Nova lozinka</td>
        <td>
            <input type="password" name="newPassword2" [(ngModel)]="newPassword2">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="changePassword()">Promeni lozinku</button>
        </td>
    </tr>
</table>
<div class="error">{{message}}</div>