<div *ngIf="user==null">
    Prijavite se <a routerLink="/login">ovde.</a> <br>
    Nemate nalog? Registrujte se <a routerLink="/register">ovde.</a> <br>
</div>
<div *ngIf="user!=null">
    <a routerLink="/profile">
        <img [src]="userImageUrl" class="image">
    </a>
    <br>
    <button (click)="logout()">Odjavi se</button>
</div>
<h2>Pretraga:</h2>
<form>
    <input type="text" name="param" [(ngModel)]="searchParam">
    <button (click)="search()">Pretrazi</button>
</form>
<div *ngFor="let bookImg of bookImages">
    <div *ngIf="user!=null">
        <a routerLink="/book" (click)="setMyBook(bookImg)">
            <app-bookdetails [myBook]="bookImg"></app-bookdetails>
        </a>
    </div>
    <div *ngIf="user==null">
        <app-bookdetails [myBook]="bookImg"></app-bookdetails>
    </div>
</div>