<div *ngIf="user==null">
    Prijavite se <a routerLink="/login">ovde.</a> <br>
    Nemate nalog? Registrujte se <a routerLink="/register">ovde.</a> <br>
</div>
<div *ngIf="user!=null">
    <a routerLink="/profile">
        <img [src]="userImageUrl" class="image">
    </a>
    <br>
    <button (click)="logout()">Odjavi se</button>
</div>
<h2 *ngIf="!isAdvanced">Pretraga:</h2>
<h2 *ngIf="isAdvanced">Napredna pretraga:</h2>
<input type="checkbox" name="isAdvanced" [(ngModel)]="isAdvanced"> Napredna pretraga
<form>
    Naziv/autor: <input type="text" name="param" [(ngModel)]="searchParam"> <br>
    <div *ngIf="isAdvanced">
        Zanr:
        <select name="genre" multiple [(ngModel)]="genre">
            <option value="drama">Drama</option>
            <option value="edukativni">Edukativni</option>
            <option value="roman">Roman</option>
            <option value="fikcija">Fikcija</option>
            <option value="ljubavni">Ljubavni</option>
            <option value="komedija">Komedija</option>
        </select>
        Godina izdanja: <input type="text" name="publishYear" [(ngModel)]="publishYear">
        Izdavac: <input type="text" name="publisher" [(ngModel)]="publisher">
    </div>
    <button (click)="search()">Pretrazi</button>
</form>
<div *ngFor="let bookImg of bookImages">
    <div *ngIf="user!=null">
        <app-bookdetails [myBook]="bookImg"></app-bookdetails>
    </div>
    <div *ngIf="user==null">
        <app-bookdetails [myBook]="bookImg"></app-bookdetails>
    </div>
</div>