<div *ngIf="user.type==1 || user.type==2">
    <input type="checkbox" name="edit" [(ngModel)]="edit" (click)="prepareForUpdate()"> Uredi knjigu
</div>
<div *ngIf="edit">
    <table>
        <tr>
            <td>Naslov</td>
            <td>
                <input type="text" placeholder="{{book.title}}" name="title" [(ngModel)]="newTitle">
            </td>
        </tr>
        <tr>
            <td>Autori</td>
            <td>
                <input type="text" placeholder="{{book.authors}}" name="title" [(ngModel)]="newAuthors">
            </td>
        </tr>
        <tr>
            <td>Zanr</td>
            <td>
                <input type="text" placeholder="{{book.genre}}" name="title" [(ngModel)]="newGenre">
            </td>
        </tr>
        <tr>
            <td>Izdavac</td>
            <td>
                <input type="text" placeholder="{{book.publisher}}" name="title" [(ngModel)]="newPublisher">
            </td>
        </tr>
        <tr>
            <td>Godina izdavanja</td>
            <td>
                <input type="text" placeholder="{{book.publishYear}}" name="title" [(ngModel)]="newPublishYear">
            </td>
        </tr>
        <tr>
            <td>Jezik</td>
            <td>
                <input type="text" placeholder="{{book.language}}" name="title" [(ngModel)]="newLanguage">
            </td>
        </tr>
        <tr>
            <td>Broj knjiga:</td>
            <td>
                <input type="text" placeholder="{{book.available}}" name="available" [(ngModel)]="newAvailable">
            </td>
        </tr>
        <tr>
            <td>Slika(opciono):</td>
            <td>
                <input type="file" (change)="uploadImage($event)">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="updateBook()">Azuriraj knjigu</button>
            </td>
        </tr>
    </table>
    {{updateMessage}}
</div>
<img [src]="url" class="image">
<h3 *ngIf="!edit && book!=null">{{book.title}}</h3>
<div *ngIf="!edit && book!=null">
    {{book.authors}}<br>
    Na stanju: {{book.available}}<br>
    Zanr: {{book.genre}}<br>
    Izdavac: {{book.publisher}}<br>
    Godina izdanja: {{book.publishYear}}<br>
    Jezik: {{book.language}}<br>
</div>
<br>
Zaduzenje:
<button *ngIf="isAvailable && rentingAvailable" (click)="rentBook()">Zaduzi knjigu</button>
<div *ngIf="!isAvailable" class="error">Knjiga trenutno nije dostupna</div>
<div *ngFor="let msg of messages" class="error">
    {{msg}}
</div>
<div [class.error]="rentMessage!='Knjiga uspesno zaduzena!'">{{rentMessage}}</div>
<button *ngIf="!isAvailable && !alreadyRented" (click)="makeReservation()">Rezervisi knjigu</button><br>
<div>{{reservationMessage}}</div>
Ocena: {{bookRating}}
<h3>Komentari</h3>
<div *ngIf="noComments">
    Nema recenzija za ovu knjigu.
</div>
<div *ngIf="book!=null">
    <div *ngFor="let comm of comments">
        <app-comment [comment]="comm"></app-comment>
    </div>
</div>
<div *ngIf="(hasRented || alreadyRented) && !hasCommented">
    <h4>Dodaj komentar</h4>
    Ocena: <input type="text" name="rating" [(ngModel)]="rating"><br>
    Komentar: <textarea name="text" maxlength="1000" [(ngModel)]="text"></textarea><br>
    <button (click)="addComment()">Dodaj komentar</button>
    {{commMessage}}
</div>
<div *ngIf="(hasRented || alreadyRented) && hasCommented">
    <input type="checkbox" name="editComm" (click)="prepareForCommentUpdate()" [(ngModel)]="editComment"> Azuriraj komentar 
</div>
<div *ngIf="editComment">
    <h4>Azuriraj komentar</h4>
    Ocena: <input type="text" name="rating" [(ngModel)]="rating"><br>
    Komentar: <textarea name="text" maxlength="1000" [(ngModel)]="text"></textarea><br>
    <button (click)="updateComment()">Azuriraj komentar</button>
    {{commMessage}}
</div>